@model IEnumerable<E_Learning.DAL.Models.Resources>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @if(ViewBag.Role == "Faculty")
                {
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
                }
            </td>
        </tr>
}
    </tbody>
</table>
